---
slug: 101
---

<%- include('partials/hero') %>

<h1 class="rj2019--textblock--title">Nominations 101</h1>

<article class="rj2019--textblock">

    <h2>Why do I have to join the NDP to support Ravi?</h2>

    <%- include('partials/photos/launch', {className: "rj2019--photo__right"}) %>

    <p>A lot of Canadians only really participate in politics during an election campaign, when they are handed a ballot and asked to put an “X” next to the name of the person they want to have represent them.</p>

    <p>But a lot of things happen before we get to that point.</p>

    <p>In many ridings, there is more than one person who hopes to be the candidate for a particular political party. However, each Riding Association can only put forward one person to run in the federal election. That's why Riding Associations hold Nomination Meetings, a sort of pre-election election has to happen, to decide whose name is going to be on the ballot. Because it’s a decision about who will be the NDP candidate, only NDP members are allowed to vote.</p>

    <p>During this selection period, there can be any number of people who are all candidates to be The Candidate. During this time, those folks work to connect with party members to explain why they think they are the best choice to represent the party in the next election. They also work to connect with people who aren’t yet party members, but share common values and encourage them to join and participate in this important process.</p>

    <p>That is where you come in. You don’t have to look at your ballot and wish there were different names on that list. You can help determine who the progressive candidate is.</p>
</article>

<div class="rj2019--blockquote rj2019--blockquote__left">
    <p class="rj2019--blockquote--content rj2019--blockquote--content__large">Only about 2% of Canadians are members of political parties, which means that big decisions are being made by small groups of people. You should get in on determining what those decisions will be.</p>
</div>

<article class="rj2019--textblock">
    <h2>What else do political party members do?</h2>

    <%- include('partials/photos/laugh', {className: "rj2019--photo__left"}) %>

    <p>Once you’ve joined the NDP, you’ll get invited to attend certain events in the riding that are hosted by local NDP volunteers. For example, you’ll be able to go the Toronto-Danforth NDP’s Annual General Meeting every year. If you’ve opted in to receiving emails, you’ll also get invited to events like volunteer socials.</p>

    <p>If you are keen to do more, members can also volunteer to organize these events, knock on doors between elections on important issues, or join the Riding Association Executive which leads the coordination of events and political activity on behalf of the NDP between campaigns.</p>
</article>

<article class="rj2019--textblock">
    <h2>How do I join a political party? Is there an application process? Is there a test?</h2>

    <p>There is no test! Just go to the <a href="https://action.ndp.ca/page/contribute/2017-membership-en" target="_blank" class="external-link">NDP’s membership form<span class="sr-only">Opens in a new window</span></a> to sign up. The membership costs $25 per year, or $5 if you’re a youth or, under- or unemployed. You will be asked to provide your address - this is necessary because members can only vote in the riding in which they live.</p>

</article>

<article class="rj2019--textblock">
    <h2>Okay I joined, now what happens?</h2>

    <%- include('partials/photos/montage', {className: "rj2019--photo__right"}) %>

    <p class="leader">The crucial thing is to attend the nomination meeting in person on Thursday, May 30th, 2019, (time and location TBD) and vote for Ravi Joshi as your NDP candidate for the federal campaign.</p>


    <p>In the meantime, you can become more involved by helping on Ravi’s nomination campaign by <a href="/join">filling out this form</a> or emailing <a href="mailto:Campaign@RaviForDanforth.ca">Campaign@RaviForDanforth.ca</a> if you’re interested in volunteering.</p>

    <p>Members are also entitled to attend the Toronto-Danforth NDP Annual General Meeting on Sunday, April 7th from 1:30 pm to 4:00 pm at the Ralph Thornton Centre and vote or run for positions on the Riding Association Executive. Members are also entitled to contribute to the development of policy during the NDP’s Provincial and Federal Conventions. The NDP relies on the energy of dedicated members; get involved and together we’ll change the world.</p>

</article>

<%- include('partials/cta') %>
