---
layout: email
---

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="<%= body_style %>">


<div style="<%= text_style %>">
    <p>{{recipient.first_name_or_friend}} --</p>

    <p>Toronto faces a serious housing crisis. Affordable options are disappearing and inequality is deepening.</p>

    <p>I have campaigned all my adult life for move livable, affordable, and inclusive housing, working with allies across our city and country to demand smart investments in housing supply.</p>

    <p>Through petitions, advocacy, and political action on the floor of Council, we forced the City to open up a thousand new shelter beds. At Social Planning Toronto, we forced Queen's Park to compel developers to build affordable units into new condos – called 'inclusionary zoning'.</p>
</div>

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="<%= callout_container_style %>">
            <p style="<%= callout_text_style %>">Our bedrock principle is that quality housing improves our health and wellbeing and must be enshrined as a human right.</p>
        </td>
    </tr>
</table>

<div style="<%= text_style %>">
    <p>Yet our city is at a breaking point. The economic costs are human costs. Every four days someone in our city will die because they lack housing. Shelters are filled to capacity. It's time to push back hard.</p>

    <p>The Federal Liberals have abandoned their promise to tackle affordable housing. It's time they were called to account.</p>
</div>
        </td>
    </tr>
    <tr>
        <td style="<%= padding_default %>">
            <%- include('partials/email/button', {
            href: "https://www.ravifordanforth.ca/join", text: "Ravi! Set! Go!"
            }) %>

            <%- include('partials/email/button', {
            href: "https://www.ravifordanforth.ca/join", text: "Sounds good to me, boss"
            }) %>
        </td>
    </tr>
    <% // Thumbnail Left, Text Right : BEGIN %>
    <tr>
        <td dir="ltr" width="100%" style="background-color: <%= secondary_color %>;">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="50%" class="stack-column-center stack-column-image" valign="middle" style="text-align: center; background-image: url('https://assets.nationbuilder.com/themes/5bdc51414764e8a0052988b4/attachments/original/1547508766/hero--small.jpg'); background-color: <%= secondary_color %>; background-position: center center !important; background-size: cover !important;">
                        <!--[if gte mso 9]>
                        <img src="https://assets.nationbuilder.com/themes/5bdc51414764e8a0052988b4/attachments/original/1547508766/hero--small.jpg" alt="{{ settings.official_name }}" border="0" width="300" height="auto" style="width:<%= max_width / 2 %>px;max-width:100%; height:auto;" />
                        <![endif]-->
                    </td>
                    <td width="50%" class="stack-column-center">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td dir="ltr" valign="top" class="center-on-narrow" style="<%= padding_large %>">
                                    <p style="<%= secondary_text_style %>">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                    <%- include('partials/email/button_left', {
                                    href: "https://www.ravifordanforth.ca/join", text: "Yes Ravi,<br/> I'm with you!"
                                    }) %>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <% // Thumbnail Left, Text Right : END %>

    <tr>

<td>

    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td style="<%= callout_container_style %>">
                <p style="<%= callout_text_style %>">I am running to become your MP because I know we can find our way out of this crisis -- with leadership from Ottawa, and a pledge to build quality affordable housing in our community.</p>
            </td>
        </tr>
    </table>


<div style="<%= text_style %>">
<p>As your Member of Parliament, I will:</p>

<ul>
    <li>Support mixed-income communities in our riding and across Canada, close to jobs, transit, and services</li>
    <li>Campaign for direct investments of federal dollars in housing creation</li>
    <li>Work to expand co-operative housing across Canada</li>
    <li>Ensure that federal lands in our riding, including waterfront, are dedicated to housing</li>
    <li>Direct housing investments to target vulnerable, disabled, racialized groups, and those fleeing violence</li>
    <li>Work to build a dedicated indigenous housing plan, addressing First Nations', Inuit, and Metis needs</li>
</ul>

<p>Housing is a human right and we need a federal government that treats it that way. With your support, we can win back Toronto-Danforth and be leaders on just and equitable housing.</p>
</div>
<p style="<%= spacer_style %>"></p>

        </td>
    </tr>
    <tr>
        <td style="<%= padding_default %>">
            <%- include('partials/email/button', {
              href: "https://www.ravifordanforth.ca/join", text: "Yes Ravi,<br/> I'm with you!"
            }) %>
        </td>
    </tr>

</table>