<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= site.title %></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/solid.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/brands.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/fontawesome.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://ravijoshi.nationbuilder.com/themes/1/5c0ded0745de94575ab2e614/0/attachments/15461127851546113728/default/theme.css" type="text/css">

  <!-- _theme-head-after.html -->
  <link rel="stylesheet" href="<%= site.domain %>css/<%= site.css %>">
</head>
<body class="aware-theme v2-theme page-type-basic page-pages-show-basic-wide page-slug-home js ">
  <header class="site-header">
      <%- include('partials/header') %>
  </header>

  <div id="navbar-overlay" class="navbar-overlay"></div>
  <div class="top-hero"></div>
  <main class="body"><div class="body-inner">
    <div class="main theme-default content-font-size">
      <%- body %>
    </div>
    <%- include('partials/footer') %>
    </div></main>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://ravijoshi.nationbuilder.com/themes/1/5c0ded0745de94575ab2e614/0/attachments/15461127851546115102/mobile/scripts.js"></script>
</body>
</html>